body{
    color: white;
    
    
    margin: 0;
    
} 
@font-face{
    font-family: 'Orbitron';
    src: url('../src/fonts/Orbitron-Regular.ttf');
}
.header{
    color: lightblue;
    background-image: url('../src/images/imaa.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Orbitron;
    text-align: center;
    padding: 10px 0 40px 0;
}
.header h1{
    text-shadow: 0px 0px 4px black;
}
.under{
    border-bottom: 4px solid white;
}
.btn{
    background-color: white;
    padding: 10px 12px;
    color: rgb(82, 82, 222);
    display: flex;
    border: none;
    font-family: Orbitron;
    margin-bottom: 100px;
}
#logo-img{
    display: block;
    margin: 0 auto;
    width: 50px;
    
}
.fle{
    
    display: flex;
    justify-content: center;
    gap: 10px;
}
.cta{

    color: black;
    border: 1px solid red;
    padding: 10px 12px;
    background: yellow;
}
.fotter{
    background-color: white;
    color: lightskyblue;
    text-align: center;
    padding: 10px;
    font-family: Orbitron;
}
.shadow{
    font-family: 'Kanit', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    background-color: whitesmoke;
    font-size: 80px;
    padding: 20px;
    text-shadow: 0px 0px 10px black;
    color: white
    
}