body{
    background: #F5F5F5;
    color: #111827;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* HEADER */
.header{
    background: #1F2937;
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    height: 60px;
}

#navs{
    color: #3B82F6;
    display: flex;
    gap: 15px;
    padding: 0;
}


#navs a:hover{
    color: #F5F5F5;
   background: #3B82F6;
   text-decoration: underline solid lightgrey;
   text-underline-offset: 4px ;
   padding: 5px 10px;
   border-radius: 5px;
   text-decoration-thickness: 2px; 
   transition: background-color 0.80s ease; 
}


#navs li{
    list-style: none;
}
#navs a{
    color: #3B82F6;
    text-decoration: none;
}
/* HERO */
.hero{
    height: 100vh;
    background: #F5F5F5#FFFFFF;
    color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN FLEX CONTAINER */
#about{
    padding: 20px;
    background:  #00000010;
}
.about{
    font-size: 25px;
    font-weight: bold;
}
.flex{
    box-shadow: 0 0 1px #0F172A;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;        /* ← responsive */
    max-width: 1100px;  /* ← NO MIN-WIDTH */
}

/* IMAGE */
#imgm{
    background-image: url("../src/images/chinemerem.jpg");
    background-size: cover;
    background-position: center;
    width: 400px;
    max-width: 400px;        /* FULL width on mobile */
    height: 400px;
    border: solid  1px lightblue;
    border-radius: 50%;
    

}

#imgm:hover{
    transition: background-image 1.3s ease;
    background-image: url("../src/images/IMG_0067_converted.jpg");
}

/* TEXT + IMAGE CONTAINER */
.flex1{
    display: flex;
    flex-direction: column; /* stack on mobile */
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    min-height: 0px;
}

/* TEXT CONTENT */
.in-text{
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    max-width: 600px;  /* keeps text readable */
}

/* LARGE SCREENS */
@media (min-width: 768px) {
    .flex1{
        flex-direction: row; /* side by side */
        align-items: center;
        justify-content: center;
    }

    #imgm{
        width: 400px;   /* responsive image */
        max-width: 400px;
        height: 400px;
    }

    .in-text{
        width: 60%;
    }
}
#footer{
    background-color: #1F2937;
    color: white;
    font-weight: lighter;
    padding: 20px;
    text-align: center;
}
