body{
    background: #a2d2ff;
    color: #ffffff;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Happy Monkey", system-ui;
}
.hero{
    text-shadow: 0px 0px 1px black;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.age{
    margin: 0px;
    margin-bottom: 20px;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}
.age1{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#my-image{
    width: 200px;
    height: auto;
    border: 6px solid #EFB0C9;
    border-radius: 50%;
}
.items{
   border: 1px solid yellow;
   width: 400%;
   height: 370px;
  display: flex;
  flex-direction: column;/* row, column. this is when you want to control how you want the flex to be*/ 
  justify-content: start;/* space-around,start,end,space-evenly,space-between,center*/
  align-items: center;/* start, end, center */
}
.item{
    background: red;
    width: 40px;
  
    padding: 10px;
    margin: 2px;
    padding: 7px;
    font-size: 20px;
    border: 2px solid black;
}
.gift1{
    margin-top: 50px;
}
.gift2{
    margin: 10px;
}
.gift3{
    margin-bottom: 0px;
}
#img2{
    margin: 0 auto;
    background-image: url("../src/images/image-gift.jpeg");
    background-size: cover;
    width: 400px;
    height: 500px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 30px;
}
#img3{
    margin: 0 auto;
    background-image: url("../src/images/image-gift.jpeg");
    background-size: cover;
    width: 400px;
    height: 500px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 30px;
}
#img2:hover{
    background-image: url("../src/images/chinemerem.jpg");
}

#img3:hover{
    background-image: url("../src/images/univers.jpeg");
}

.book {
    font-family: 'Courier New', Courier, monospace;
    background: red;
    width: 300px;
    margin: 3px;
    padding: 9px;
}

